/* default */
*{
    padding: 0px;
    margin:0px;
}

/* NavigationBar */
#NavBar{
    display:flex;
    text-align: center;
    /* justify-content: center; */
    background-color:rgb(223, 10, 10);
    
}
#NavBar div img{
    height: 45px;
    width: 53px;
    padding: 0px 13px;
    margin: 7px 8px;
    border-radius: 34px;
}
#NavBar ul{
    display:flex;
    list-style: none;
    padding: 11px;
    margin: 11px;
}
#NavBar ul li a{
    padding: 5px;
    margin: 20px;
    text-decoration: none;
    color:white;

}
#NavBar ul li :hover{

    color:rgb(190, 171, 171);
    border:2px solid rgb(8, 8, 8);
    border-radius: 20px;

}

/* home-section */
#home-section{
    display:flex;
    flex-direction: column;
    height:345px;
    width:100%;
    text-align: center;
    align-items: center;
    justify-content: center;
   
    

}
#home-section::before{
    content: '';
    position: absolute;
    background-image: url(/img/img1.jpg);
    background-position: center center;
    background-size: 1600px 637px;
    background-repeat: no-repeat;
    height: 55%;
    width: 100%;
    z-index:-1;
    opacity: 0.2;
}
#home-section div h1{
    display:inline-block;
    margin:auto;
    color:rgb(27, 228, 218);
    background-color: rgb(83, 77, 77);

}
#home-section div p{
    padding: 44px;
    margin: 9px;
    height: 42px;
}
#home-section div .btn{
    color:black;
    font-weight: bold;
    background-color:rgb(10, 243, 243);
    border:2px solid  rgb(247, 75, 7);
    border-radius:5px;
    cursor: pointer;
    padding:6px;
    margin:6px;
}
#home-section div .btn:hover{
    padding:9px;
    margin:8px;
}
/* services section */
#services-section{
                   display:block;
                   height:365px;
                   width:100%;
                   background-color:#002244;
                   /* border:2px solid black; */

}
 #services-section div h1{
    display:block;
    width:100%;
    text-align: center;
    margin:auto;
    color:white;
    background:linear-gradient(to bottom right, #080808,#333738,#aaa1a1);         
} 
#image{
    display:flex;
    justify-content: center;
}
#services-section div img{
    display: block;
    /* margin: 50px auto; */
    padding:15px;
    margin:4px 0px;
    width: 245px;
    height: 175px;
}
#services-section div p{
    display:block;
    width: 230px;
    height:19px;
    text-align: center;
    margin:auto;
} 
#services-section .model{
    display:block;
    width: 230px;
    height:35px;
    text-align: center;
    margin:auto;
}

#time{
    background-color: aqua;
    width:40%;

}
#services-section div img:hover{
    width:250px;
    height:180px;
    border:5px solid black;
}
.recent{
    border:2px solid black;
    padding:10px;
    height:15px;
    color:white;
    /* background-color:rgb(223, 10, 10); */
    /* background: radial-gradient( circle at center,lightgreen,yellow,white); */
    background:linear-gradient( #034a91,#034a91,#002244);  
  
}
#recent{
    position:absolute;
    animation: roll 10s ease-in-out infinite forwards;
    font-weight: bold;

}
@keyframes roll {
                    from{
                          width:20%;
                    }
                    to{
                        width:175%;
                    }
    
}

.model{
    border:orange;
    background-color: rgb(160, 163, 128);
    color:black;
    font-weight: bolder;
}
/* customer-section */
#customer-section{
                   display:block;
                   height:365px;
                   width:100%;
                   background:linear-gradient( #034a91,#034a91,#ccd9e6);                                                           

}
#customer-section div h1{
    display:block;
    width:100%;
    text-align: center;
    margin:auto;
    color:white;
    background:linear-gradient(to bottom right, #080808,#333738,#aaa1a1);  

}
#customer-section div h3{
    display:block;
    width: 268px;
    height:19px;
    text-align: center;
    margin:auto;
    background-color: aqua;
   
}
#customer-section div h2{
    display:block;
    width: 209px;
    height: 28px;
    text-align: center;
    margin:auto;
    color:white;
    background:linear-gradient(to bottom right, #080808,#333738,#aaa1a1);                    
   
}
#call-form{
    display:block;
    text-align:center;
    padding: 13px;
    margin: 6px auto;
    background:linear-gradient(to bottom right, #83dbeb,#2bace7,#06b7e4);
    font-weight: bold;
    width: 135px;
    border:3px solid black;
    border-radius: 10px;
    
    
}
#msg-form{
    display:block;
    text-align:center;
    padding: 18px;
    margin: 9px auto;
    background:linear-gradient(to bottom right, #83dbeb,#2bace7,#06b7e4);
    font-weight: bold;
    width: 202px;
    height: 171px;
    border:3px solid black;
    border-radius: 10px;
}
/* #msg-form div input{
    border:2px solid black;
} */
#sub input{
    padding: 3px;
    margin: 5px;
    width: 50px;
    font-weight: bold;
    border:3px solid black;
    color:white;
    background:linear-gradient(to top left, #080808,#333738,#aaa1a1);
    border-radius:4px;

}

        